
/*-----------
  BUTTONS
-----------*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 40px;
  padding: 0 1.875em;
  color: transparent;
  font-size: 1.2rem;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: 0;
  border-radius: 25px;

  &:hover {
    color: transparent;
    border-color: transparent;
  }
}

.button.button__primary,
button.button__primary,
input[type="submit"].button__primary,
input[type="reset"].button__primary,
input[type="button"].button__primary {
  color: transparent;
  border-color: transparent;
  background: transparent;

  &:hover {
    color: transparent;
    background: transparent;

  }
}