
/*-----------
  MISC
-----------*/
code {
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 0.125em 0.25em 0.125em 0.25rem;
  white-space: nowrap;
  border-radius: 4px;
}

pre > code {
  font-size: 1.2rem;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

button,
.button {
  margin-bottom: 1em;
}
 
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5em;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5em;
}